/* Global style */
*{
    margin:0;
    padding:0;
    box-sizing:  border-box;
}
/* Open Sans Font linked */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Color Set */
:root {
  --orange: #FD6E0A;
  --light-pink: #FFF8F3;
  --black:#181818;
  --white:#fff;
  --semi-dark:#474747;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style-type: none;
}
.btn{
    color:var(--white);
    padding:10px 30px;
    background-color: var(--orange);
    font-weight: 600;
    border-radius: 5px;
}

/* End Global Style */

/* Start Navigation area */
nav{
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 0;
}
/* header logo style */
.header-logo h2{
    font-size: 45px;
    font-weight: 800;
    color:var(--black);
}
.header-logo span{
    color:var(--orange);
}

/* Header Menu Style */
.header-menu ul{
    display:flex;
    align-items: center;
}
.header-menu ul li{
    margin:0 20px;
    
}
.header-menu ul li a{
    font-size:20px;
    color:var(--semi-dark);
}
.header-menu ul li a:hover{
    color: var(--orange);
}
.header-menu ul li a.btn{
    color: var(--white);
    transition: 0.2s;
}
.header-menu ul li a.btn:hover{
    color: var(--white);
    background-color: var(--semi-dark);
}
/* End Navigation Area */

