/* Global style */
*{
    margin:0;
    padding:0;
    box-sizing:  border-box;
}
/* Open Sans Font linked */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Color Set */
:root {
  --orange: #FD6E0A;
  --light-pink: #FFF8F3;
  --black:#181818;
  --white:#fff;
  --semi-dark:#474747;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style-type: none;
}
.btn{
    color:var(--white);
    padding:10px 30px;
    background-color: var(--orange);
    font-weight: 600;
    border-radius: 5px;
}
h1,h2,h3,h4,h5,h6{
    color: var(--black);
}
p{
    font-size:14px;
    color:var(--semi-dark);
}

main{
    max-width: 80%;
    margin:0 auto;
}

/* End Global Style */


/* header area */
#header{
    background-image: url('../img/developer.png'), url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-size: contain, 600px;
    background-color: var(--light-pink);
}
/* Start Navigation area */
nav{
    max-width: 80%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 0;
}
/* header logo style */
.header-logo h2{
    font-size: 45px;
    font-weight: 800;
    color:var(--black);
}
.header-logo span{
    color:var(--orange);
}

/* Header Menu Style */
.header-menu ul{
    display:flex;
    align-items: center;
}
.header-menu ul li{
    margin:0 20px;
    
}
.header-menu ul li a{
    font-size:20px;
    color:var(--semi-dark);
}
.header-menu ul li a:hover{
    color: var(--orange);
}
.header-menu ul li a.btn{
    color: var(--white);
    transition: 0.2s;
}
.header-menu ul li a.btn:hover{
    color: var(--white);
    background-color: var(--semi-dark);
}
/* End Navigation Area */


/* Start Hero Area style */
.hero-area{
    max-width: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text{
    max-width: 580px;
    padding-left: 130px;
    
}
.hero-text h3{
    font-size: 22px;
    font-weight: 500;
    word-spacing: 5px;
}
.hero-text h1{
    font-size: 50px;
    font-weight: 700;
    word-spacing: 3px;
    line-height: 90px;
}
.hero-text p{
    color:var(--semi-dark);
    font-size: 14px;
    margin-bottom: 25px;
}
.hero-btn a.btn{
    padding:10px 20px;
    font-weight: 500;
    font-size: 14px;
}
.hero-btn a.btn i{
    margin-right: 5px;
}
.hero-btn a.cv-download{
    margin-right:30px;
    border:1px solid var(--orange);
    color:var(--white);
    transition: 0.2s;
}
.hero-btn a.cv-download:hover{
    border:1px solid var(--orange);
    color:var(--orange);
    background-color: var(--light-pink);

}
.hero-btn a.hero-contact{
    background-color: var(--light-pink);
    border:1px solid var(--orange);
    color: var(--orange);
    transition: 0.2s;
}
.hero-btn a.hero-contact:hover{
    background-color: var(--orange);
    color:var(--white)
}




.hero-image{
    max-width: 400px;
    padding-right: 20px;
}
.hero-image img{
    max-width: 100%;
    margin-bottom: -5px;
}
/* End Hero Area style */


/* Start About Area Style */
#about-area{
    background-color: var(--light-pink);
    margin:100px 0;
    padding:100px;
}
.sec-text{
    text-align: center;
}
.sec-text p{
    margin: 30px 0;
    line-height: 25px;
}
.about-info{
    display:flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
.about-info h5:first-child{
    color: var(--semi-dark);
    font-weight: 500;
    margin-bottom: 5px;
}
/* End About Area Style */


/* Start Skills Area Style */
#skills{
    padding-bottom: 80px;
}
.skills-text{
    padding:0px 100px;
    margin-bottom: 50px;
}
.skills-item{
    display: flex;
    align-items: center;
    gap:25px;
}
.skills-item .item{
    padding: 20px;
    box-shadow: 5px 5px 20px 0px #00000021;
    border-radius: 5px;
}
.skills-item .item img{
    margin-bottom: 25px;
    max-width: 40px;
}
.skills-item .item h3{
    margin-bottom: 25px;
    font-size:18px;
}
.skills-item .item p{
    color:var(--semi-dark);
    line-height: 25px;
}
/* End Skills Area Style */

/* Start Education Area Style */
.edu-title{
    margin-top:10px;
    margin-bottom: 60px;
}
.edu-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.edu-aca-title{
    margin-bottom: 30px;
}
.edu-aca-des{
    margin:20px 0;
}
.edu-aca-des h4{
    margin:10px 0;
}
.edu-aca-des p{
    margin:10px 0;
    padding:0 50px 0 0;
    line-height: 25px;
}
.edu-aca-des hr{
    color:var(--semi-dark);
}
.edu-cv-download{
    text-align: center;
    margin:20px 0;
}
.edu-cv-download .btn i{
    margin-right:8px
}
/* End Education Area Style */